
@font-face {
    font-family: "FONT";
    src: url(../assets/OpenSans-Light.ttf);
}

#title {
    font-size: 25px;
}

body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.7;
    color: #444;
    padding: 0 15px;

    font-family: FONT;
    font-size: 20px;
    text-rendering: geometricPrecision;
}

@media only screen and (max-device-width : 680px) {
    #title {
        text-align: center;
        font-size: 30px;
    }

    body { 
        max-width: 680px;

    }
}

a {text-decoration: none; color: blueviolet}

ul {list-style-type: none}

#title {margin-bottom: 0}
