<!--
<div class="work-entry">
    <h3 id="position"></h3>
    <h3 id="location"></h3>
    <p id="description"></p>
</div>
-->
<div class="work-entry" class="w3-animate-opacity">
    <small id="position">Editor + Webmaster </small>
                    <h3 id="location">Review of Undergraduate Computer Science </h3>
    <p id="description">I work as a webmaster and editor for RUCS, a publication of the best
      undergraduate research in Computer Science done at the University of Toronto.</p>
</div>

<div class="work-entry" class="w3-animate-opacity">
    <h3 id="position">Developer</h3>
    <h3 id="location">The Beer Store Api</h3>
    <p id="description">I wrote a RESTful API to help programmers access <a href="http://www.thebeerstore.ca/">The Beer Store</a>'s database.</p>
</div>
